@import '@gnk/ui/src/styles/tokens.css';
@import '@gnk/ui/src/styles/theme.css';
@import "tailwindcss";

body {
  @apply bg-background text-foreground font-sans antialiased;
}

/* Custom Utilities */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
